@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl pl-4 md:pl-0;
  }
  h2 {
    @apply text-xl;
  }
  .btn {
    @apply px-3 py-1 rounded;
  }
  .btn-primary {
    @apply bg-purple-600 text-white;
  }
  .btn-secondary {
    @apply bg-gray-500 text-white;
  }
  .btn-danger {
    @apply bg-red-600 text-white;
  }
  .border-card {
    @apply p-10 bg-white shadow-lg rounded-3xl sm:p-20 my-10 border-t-8 border-purple-600 sm:pt-3;
  }
  .form-input {
    @apply flex flex-col py-5;
  }
}

ul.employees > li::before,
ul.blogs > li::before,
ul.clients > li::before {
  display: none;
}

ul.employees > li,
ul.blogs > li {
  padding-left: 0px;
  padding-right: 0px;
}

ul.clients > li {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  ul.clients > li {
    padding-left: 0px;
    padding-right: 0px;
  }
}

img.employee-img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.clients p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
