@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl pl-4 sm:pl-2;
  }
  h2 {
    @apply text-xl;
  }
  .btn {
    @apply px-3 py-1 rounded;
  }
  .btn-primary {
    @apply bg-purple-500 text-white;
  }
  .btn-secondary {
    @apply bg-gray-500 text-white;
  }
  .btn-danger {
    @apply bg-red-500 text-white;
  }
  .client-card {
    @apply p-10 bg-white shadow-lg rounded-3xl sm:p-20 my-10 border-t-8 border-purple-500 sm:pt-3;
  }
  .form-input {
    @apply flex flex-col py-5;
  }
}

ul.employees > li::before,
ul.blogs > li::before {
  display: none;
}

img.employee-img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.clients p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
